{% extends "account/base.html" %}

{% load i18n %}
{% load uni_form_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block pageheader %}
<h1>{% trans "Sign Up" %}</h1>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
    {% else %}
    <div class="grid_6">
        <p>{% trans "Already have an account?" %} <a href="{{ login_url }}">{% trans "Sign in" %}</a>.</p>
        
        <form class="signup uniForm" id="signup_form" method="post" action="{% url account_signup %}">
            {% csrf_token %}
            {{ form }}
            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="actions">
                <button type="submit" class="btn large primary">{% trans "Sign up" %}</button>
            </div>
        </form>
    </div>
    {% endif %}
{% endblock %}


