{% extends "site_base.html" %}
{% load i18n %}

{% block pageheader %}
<h1>{% trans "Avatar management" %}</h1>
{% endblock %}

{% block body %}
<div class="grid_12">
    <h3>{% trans "Select avatars to delete" %}</h3>
    {% if not avatars %}
        {% url avatar_change as avatar_change_url %}
        <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{% url avatar_delete %}">
            <ul class="avatar-choice">
            {% for field in delete_avatar_form %}
                {% for choice in field.field.choices %}
                    <label for="choice_{{ choice.0 }}">
                        {{ choice.1 }}
                        <input type="checkbox" name="choices" value="{{ choice.0 }}" id="choice_{{ choice.0 }}" />
                    </label>
                {% endfor %}
            {% endfor %}
            </ul>
            <div style="clear:both"></div>
            {% csrf_token %}
            <button class="btn danger large" type="submit">{% trans "Delete these avatars" %}</button>
        </form>
    {% endif %}
</div>
{% endblock %}
